{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="main">
        <div class="txt">
            <h1>Login</h1>
            <p>Login to start chilling &#128515; </p>
        </div>
        <div class="form">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Enter email" required>
                <div class="password">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <button id="view">View</button>
                </div>
                <button type="submit" class="button">Login</button>
                <p class="note">Don't have an account <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %} 
<script>
    var viewed = false;
    document.querySelector('#view').onclick = (e)=>{
        e.preventDefault();
        document.querySelector('#password').type = viewed == false? 'text' : 'password';
        document.querySelector('#view').textContent = viewed == false? 'Hide': 'View';
        viewed = !viewed;
    }
</script>
{% endblock %}